2body {
    height: 100%;
    overflow: hidden;    
}

.App {
    text-align: center;
    min-height: 100vh;
    background: #e0e0e08a;    
}

.App-nav {
    padding: 10px;
    height: 4vh;
    background-color: #e8e8e882;    
}

.App-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
}


.App-logo {
    height: 35vmin;
    pointer-events: none;
    border-radius: 25px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        #animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
